<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <% if conversation.recipients.size > 2 %>
          <a href="#">
            <div class="round-image-50"><%= image_tag(conversation.originator.avatar.url(:thumb))%>
            </div>
          </a>
        <% else %>  
          <a href="#">
            <div class="round-image-50"><%= image_tag(other_user_avatar(conversation).avatar.url(:thumb)) %></div>
          </a>
        <% end %>
      </div>
      <div class="media-body">
        <%= link_to conversation_path(conversation) do %>
          <h4 class="media-heading">
            <%= other_user_names(conversation) %><small> <%=  conversation.last_message.created_at.strftime("%A, %b %d, %Y at %I:%M%p")%></small><br><br>
          </h4>
          <%= image_tag(conversation.last_sender.avatar.url(:thumb), class: "round-image-30") %> <%= conversation.last_message.body %>
          <% unread = conversation.is_unread?(current_user) %>
          <% if unread %>
            <span class="label label-danger pull-right">Unread</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

